@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
}



a.nav-link {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    color: white;
}



.just-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 2px solid red;
    border-radius: 1rem;
}

.just-container h2 {
    font-size: 2rem;
}

.just-col {
    text-align: center;
    margin: auto;
}

.col.main-col {
    background-color: #343c44;
    color: white;
}

@media (max-width: 768px) {
    .main-col {
        margin-bottom: 2rem;
    }
}

.main-col {
    text-align: center;
}

.main-col img {
    width: 100%;
}

.row.main-row-2 {
    background-color: #343c44;
    border-radius: 1rem;
    color: white;
    margin-top: 2rem;
}

.col-md-4.main-col {
    margin: auto;
}
.col-md-8.main-col {
    margin: auto;
}

/* menu */

.menu-container {
    margin-top: 2rem;
}

.single-content {
    position: relative;
    transition: .3s;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.8);
}

.single-content > img {
    width: 100%;
}

.single-content .text-content,
.single-content::after {
    position: absolute;
    left: 20px;
    right: 20px;
}

.single-content:after{
    content: '';
    display: block;
    background: crimson;
    top: 20px;
    bottom: 20px;
    opacity: 0;
    transform: rotate3d(-1,1,0,100deg);
    transition: .4s;
}

.single-content:hover:after {
    opacity: .9;
    transform: rotate3d(0,0,0,0deg);
}

.text-content {
    top: 45%;
    opacity: 0;
    z-index: 1;
    transform: translate(10%, -30%);
    transition: .3s;
    text-align: center;
    color: white;
}

.single-content:hover .text-content {
    opacity: 1;
    transform: translate(0, -50%);
    transition-delay: .3s;
}