@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
}



a.nav-link {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    color: white;
}



.just-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 2px solid red;
    border-radius: 1rem;
}

.just-container h2 {
    font-size: 2rem;
}

.just-col {
    text-align: center;
    margin: auto;
}

.col.main-col {
    background-color: #343c44;
    color: white;
}

@media (max-width: 768px) {
    .main-col {
        margin-bottom: 2rem;
    }
}

.main-col {
    text-align: center;
}

.main-col img {
    width: 100%;
}

.row.main-row-2 {
    background-color: #343c44;
    border-radius: 1rem;
    color: white;
    margin-top: 2rem;
}

.col-md-4.main-col {
    margin: auto;
}
.col-md-8.main-col {
    margin: auto;
}

