* {
    margin: 0;
    padding: 0;
}

.navbar{
    border: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    margin-bottom: 0;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
}
.navbar-brand {
    height: auto;
    margin-left: 15px;/* add margin in left. Because padding is removed from left. */
    padding: 5px 0; /* Remove padding from left and right. User need to click on logo not outside of logo. */
    width: 200px;
}

.navbar-brand img {
    height: 100px;
}

@media (min-width: 768px){
    .navbar-brand{
        width: auto; /* You can change the width when you need. */
    }
}

.bg-wrapper {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/28756.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}

#sticky-social {
   left: 0;
   position: fixed;
   top: 150px;
}
#sticky-social a {
   background: #333;
   color: #fff;
   display: block;
   height: 35px;
   font: 16px "Open Sans", sans-serif;
   line-height: 35px;
   position: relative;
   text-align: center;
   width: 35px;
}
#sticky-social a span {
   line-height: 35px;
   left: -120px;
   position: absolute;
   text-align:center;
   width:120px;
}
#sticky-social a:hover span {
   left: 100%;
}
#sticky-social a[class*="facebook"],
#sticky-social a[class*="facebook"]:hover,
#sticky-social a[class*="facebook"] span { background: #3b5998; }

#sticky-social a[class*="linkedin"],
#sticky-social a[class*="linkedin"]:hover,
#sticky-social a[class*="linkedin"] span { background: #007bb6; }  

#sticky-social a[class*="instagrem"],
#sticky-social a[class*="instagrem"]:hover,
#sticky-social a[class*="instagrem"] span { background: #517fa4; }  

